/* line 3, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.feature {
  background: url("/assets/Beautiful-Vineyard-Vines-Wallpaper.jpg");
  background-position: top right;
  background-size: cover;
  background-color: #dd845a;
  color: white;
  text-shadow: 1px 1px 8px black;
}

/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.feature .btn {
  text-shadow: none;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
  color: white;
  text-shadow: 1px 1px 8px black;
  text-decoration: none;
}

/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.promo-item {
  height: 200px;
  line-height: 180px;
  text-align: center;
}

/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.promo-item:hover {
  background-size: 110%;
  border: 5px solid black;
  line-height: 170px;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.promo-item h3 {
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.item-1 {
  background: url("/assets/vines.jpg");
}

/* line 51, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.item-2 {
  background: url("/assets/vines.jpg");
}

/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.item-3 {
  background: url("/assets/vines.jpg");
}

/* line 59, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.item-1,
.item-2,
.item-3 {
  background-size: cover;
  background-position: 50% 50%;
}

/* line 68, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.img {
  max-width: 100%;
  height: auto;
}

/* line 73, /home/ubuntu/workspace/app/assets/stylesheets/home.css.scss */
.footerimage {
  margin: 0;
  padding: 0;
}
