/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require phrasing 
 */
 
 body { 
     margin:0; 
     
 }
 
 .navbar {
     margin-bottom:0 !important;
 }
 
 li {
    
     text-align: center;
     
 }
 
 .navbar a {
     color: #222222 !important;
 }
 
 .navbar a:hover {
     color: #777777 !important;
 }
 
 .item:hover {
    background:#661166; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#661166, #882288); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#661166, #882288); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#661166, #882288); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#661166, #882288);
    color: #cccccc !important;
 }

  .current{
    background: #44BB44; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#44BB44, #11BB11); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#44BB44, #11BB11); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#44BB44, #11BB11); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#99CC99, #CCCCCC);
    
 }
 
 .feature {
	background:  url("/assets/Beautiful-Vineyard-Vines-Wallpaper.jpg");
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
	}

.feature .btn {
	text-shadow: none;
	}
 
 .current a {
     color: white;
 }
 .promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 40px;
   
    display: inline-block;
    vertical-align: middle;
}
 
.item-1 {
	background: url("/assets/vines.jpg");
	}
	
.item-2 {
	background: url("/assets/vines.jpg");
	}
	
.item-3 {
	background: url("/assets/vines.jpg");
	}
		
.item-1,
.item-2,
.item-3 {
	background-size: cover;
	background-position: 50% 50%;
	}
	
	ul,li,div, nav {
	    padding: 0;
	    margin: 0;
	}
	

	

.footer-info {
    padding-top: 10px;
    background: #333333;
    height: 200px;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #DDDDDD;
	}

.footer-info h3 {
	color: #DDDDDD;
	font-size: 18px;
	text-align: center;
	}
    
.footer-info-item {
    padding: 0px 20px;
    
    }
    
    .ab, .list-unstyled, .footer-info-item {
        color: #009900;
    }
    
.small-print {
   
	background-color: #fff;
	padding-top: 10px;
	
	text-align: center;
}

.img {
      max-width: 100%;
    height: auto;  
}

.footerimage {
    margin: 0;
    padding :0;
    margin-top: 20px;
}


	
	