
 
 .feature {
	background:  url("/assets/images/Beautiful-Vineyard-Vines-Wallpaper.jpg");
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
	}

.feature .btn {
	text-shadow: none;
	}
 

 .promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 40px;
   
    display: inline-block;
    vertical-align: middle;
}
 
.item-1 {
 background-image: url('vines.jpg');
	}
	
.item-2 {
	background-image: url('vines.jpg');
	}
	
.item-3 {
	background-image: url('vines.jpg');
	}
		
.item-1,
.item-2,
.item-3 {
	background-size: cover;
	background-position: 50% 50%;
	}
	
	

.img {
      max-width: 100%;
    height: auto;  
}

.footerimage {
    margin: 0;
    padding :0;
   
}


	
	